body {
    background-image: url("../images/bg.jpg");
}

.wrapper {
    margin: 0 auto;
    margin-top: 260px;
    width: 500px;
    height: 440px;
    background-color: #efefef;
    box-shadow: -4px 7px 25px 0px rgba(0, 0, 0, 1);
}

/*Header and links*/
header h1 {
    margin: 0;
    font-size: 24pt;
    text-align: center;
    word-spacing: 30px;
    line-height: 0.8;
    padding-top: 15px;
    padding-bottom: 15px;
}

header :last-child {
    color: green;
}

header :first-child {
    color: black;
}

header h1 a {
    text-decoration: none !important;
    font-family: "HelveticaRegular";
}

header h1 :last-child:active {
    color: black;
}

/* - - - - - - */

/* Main part */

.wrapper main .info {
    background: white;
    font-size: 21pt;
    color: black;
    font-family: "HelveticaRegular";
    padding-left: 20px;
}

.wrapper main .buttons button {
    width: 120px;
    margin-top: 25px;
    border-radius: 20px;
}