.wrapper main .info {
    background: white;
    font-size: 21pt;
    color: black;
    font-family: "HelveticaRegular";
    padding-left: 20px;
}

.wrapper main .buttons button {
    width: 120px;
    margin-top: 25px;
    border-radius: 20px;
}