.wrapper main input {
    border-radius: 0;
    border: 0;
    font-size: 14pt;
    height: 40px;
    padding-left: 10px;
}

.wrapper main p {
    font-family: "HelveticaRegular";
    font-size: 16pt;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.successBut {
    margin: 0 !important;
}

.successBut button {
    margin-top: 6px;
    width: 200px;
}