body {
    background-image: url("../images/bg.jpg");
}

.wrapper {
    margin: 0 auto;
    margin-top: 260px;
    width: 500px;
    height: 440px;
    background-color: #efefef;
    box-shadow: -4px 7px 25px 0px rgba(0, 0, 0, 1);
}

/*Header and links*/
header h1 {
    margin: 0;
    font-size: 24pt;
    text-align: center;
    word-spacing: 30px;
    line-height: 0.8;
    padding-top: 15px;
    padding-bottom: 15px;
}

header :last-child {
    color: green;
}

header :first-child {
    color: black;
}

header h1 a {
    text-decoration: none !important;
    font-family: "HelveticaRegular";
}

header h1 :last-child:active {
    color: black;
}

/* - - - - - - */

/* Main part */

.wrapper main input {
    border-radius: 0;
    border: 0;
    font-size: 14pt;
    height: 40px;
    padding-left: 10px;
}

.wrapper main p {
    font-family: "HelveticaRegular";
    font-size: 16pt;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.successBut {
    margin: 0 !important;
}

.successBut button {
    margin-top: 6px;
    width: 200px;
}