body {
    background-image: url("../images/bg.jpg");
}

.wrapper {
    margin: 0 auto;
    margin-top: 260px;
    width: 500px;
    height: 440px;
    background-color: #efefef;
    box-shadow: -4px 7px 25px 0px rgba(0, 0, 0, 1);
}

/*Header and links*/
header h1 {
    margin: 0;
    font-size: 24pt;
    text-align: center;
    word-spacing: 30px;
    line-height: 0.8;
    padding-top: 15px;
    padding-bottom: 15px;
}

header :last-child {
    color: green;
}

header :first-child {
    color: black;
}

header h1 a {
    text-decoration: none !important;
    font-family: "HelveticaRegular";
}

header h1 :last-child:active {
    color: black;
}

/* - - - - - - */

/* Main part */

main .enteredNum {
    text-align: center;
    font-size: 22pt;
    font-family: "HelveticaLight";
    margin-bottom: 0;
}

main .enteredNum input {
    width: 250px;
    text-align: center;
    border: none;
    background-color: inherit;
}

main .buttonsWithNumbers {
    font-size: 0;
    margin-top: 7px;
    text-align: center;
}

main .buttonsWithNumbers button {
    border-radius: 0;
    background-color: #bcffaf;
    width: 70px;
    height: 70px;
    border: 0px;
    font-size: 15pt;
    font-family: "HelveticaThin";
}

main .buttonsWithNumbers button:focus {
    background-color: #bcffaf;
    box-shadow: none;
}

#add {
    width: 210px;
    height: 40px;
    margin-top: 8px;
    background-color: #7fff79;
    color: black;
    font-family: "HelveticaRegular";
}